<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>

<a href="/">Start again...</a>
</body>
</html>

<h1>A basic biscuit dough recipe</h1>
 <h3>Ingredients:</h3>
 <ul>
 <li>250g softened butter</li>
 <li>140g caster sugar</li>
 <li>1 egg yolk</li>
 <li>2 teaspoons vanilla extract</li>
 <li>300g plain flour</li>
 </ul>
<h3>How to make it:</h3>
<ol>
<li>Preheat the oven to 180 degrees C/fan 160 degrees C/gas mark 4.
<li>Mix the butter with the sugar in a large owl.</li>
<li>Add an egg yolk, stirring well.</li>
<li>Mix in the vanilla extract and beat until everything is combined.</li>
<li>Sieve over the flour into the mix and stir until well combined. You may need to get your hands in at this point!</li>
<li>Bake for approximately 15 minutes, depending on your oven.</li>
</ol>

<a href="/useful-links">Did you enjoy these recipes?</a>

