<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>

<a href="/">Start again...</a>
</body>
</html>

<h1>More activities to get stuck into if baking isn't your thing!</h1>
<ul>
<li>Arts and crafts. This is great fun and is very rewarding!</li>
<li>Sewing. This is a very useful skill to have and you will need it in real-life situations, such as mending clothes!</li>
<li>Sport. There is such a wide range of sports out there, there's sure to be one that takes your fancy!</li>
<li>Having fun outside. There are endless possibilities - you could be pirates on an evil mission, explorers  discovering uncharted lands or even yourselves on an exciting expedition!</li>
<li>Drawing. With this, you can let your imagination run wild - you don't have to follow the rules, because there are no rules.</li> 
</ul>
