<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>

<a href="/">Start again...</a>
</body>
</html>

<h1>My Ginger Cake Recipe</h1>

<img src="static/GingerCake.jpg" />

<h3>Ingredients:</h3>

<ul>
<li>350g golden syrup </li>
<li>125g unsalted butter</li>
<li>250g sieved plain flour</li>
<li>1 and 3 quarter teaspoons bicarbonate of soda</li>
<li>2 teaspoons ground ginger</li>
<li>1 and 3 quarter teaspoons mixed spice</li>
<li>1 large egg</li>
<li>275 ml milk</li>
</ul>
<h3> How to make it:</h3>

<ol>
<li>Set the oven to  180 degrees C, 350 degrees F, fan 170 degrees C, gas mark 4.</li>
<li>Grease a tin (18x28x4cm) with butter and line with greaseproof paper, then grease the paper too.</li>
<li>Put the  golden syrup and butter in a pan and place over a low heat until the butter has melted.</li>
<li>Measure the flour, bicarbonate of soda, ginger and mixed spice into a bowl.</li>
<li>Gradually add the syrup and butter, mixing thoroughly.</li>
<li>In a separate bowl, beat the egg annd milk together.</li>
<li>Add the egg and milk to the main mixture bit by bit, mixing well. The mixture should be very runny.</li>
<li>Pour the mix into the tin and bake in the centre of the oven for 50 minutes.</li>
<li>Cool in the tin for 10-15 minutes then turn out onto a wire tray.</li>
<li>Cut the cake into squares, decorating them if you want, and store in an airtight container ready to eat!</li>
<a href="/more-recipes">Want more recipes?</a>
